@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contact Manager</h1>
    <p><a asp-controller="Account" asp-action="Login">Login</a> to manage your contacts</p>
</div>